{% extends 'bandas/layout.html' %}

{% block content %}

    <h2>Nova Banda</h2>

<div class="form_container">
    <form action="" method="post" enctype='multipart/form-data'>

      {% csrf_token %}
      <table class="form-table">
          {{ form }}
      </table>
      <input type="submit" value="Criar Registo">

    </form>
</div>

<div class="button-back">
    <div class="header-item">
        <button onclick="window.history.back()" id="white-button">Cancelar</button>
    </div>
</div>

{% endblock %}